# Project 2 - Chapter 2 - Working With Lists

## New Concepts: Dynamic List, List Concatenation, List Indexing

#### Lists

In [1]:
empty_list = []
int_list = [1,2,3,4,5]
float_list = [1.0, 2.0, 3.0, 4.0, 5.0]
string_list = ["Many words", "impoverished meaning"]
mixed_list = [1, 2.0, "Mix it up"]

print(empty_list, int_list, float_list, string_list, mixed_list, sep = "\n")

[]
[1, 2, 3, 4, 5]
[1.0, 2.0, 3.0, 4.0, 5.0]
['Many words', 'impoverished meaning']
[1, 2.0, 'Mix it up']

Put elements into brackets to create a list

#### Concatenation

In [2]:
list1 = [5,4,9,10,3,5]
list2 = [6,3,2,1,5,3]
join_lists = list1+list2

print("list 1:", list1)
print("list 2:", list2)
print(join_lists)

list 1: [5, 4, 9, 10, 3, 5]
list 2: [6, 3, 2, 1, 5, 3]
[5, 4, 9, 10, 3, 5, 6, 3, 2, 1, 5, 3]

Adding lists simply creates one list with all entries, it does NOT add the elements of equal sized lists

## For Loops & Range()

#### For Loop

In [6]:
for i in range(j, k, l):
    <execute script>

SyntaxError: invalid syntax (<ipython-input-6-6c57701e4f46>, line 2)

Loops through i (start, end, interval)
    - if you do not identify a start, assume 0
    - if you do not identify an interval, assume 1

#### Range

In [7]:
list1 = list(range(9))
list2 = list(range(-9,9))
list3 = list(range(-9,9,3))

print(list1, list2, list3, sep = "\n")

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[-9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8]
[-9, -6, -3, 0, 3, 6]

Range is not inclusive, thus - below I will attempt to create an inclusive list so when you use range(9) you get the following elements: 0,1,2,3,4,5,6,7,8,9

##### Exclusive range, will try 2 things below in attempts to create an inclusive list

In [8]:
list1 = list[range(9)]
list2 = list[range(-9,9)]
list3 = list[range(-9,9,3)]

print(list1, list2, list3, sep = "\n")

TypeError: 'type' object is not subscriptable

I intentionally ran this error to see if there was a way to create an inclusive range: because as viewed above, range (9) does not include the number 9

In [10]:
list1 = list(range[9])
list2 = list(range[-9,9])
list3 = list(range[-9,9,3])

print(list1, list2, list3, sep = "\n")

TypeError: 'type' object is not subscriptable

NONE OF MY ATTEMPTS TO CREATE AN INCLUSIVE LIST WERE SUCCESSFUL

I will have to remember that ranges are exclusive

#### For Loop & Range

In [11]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
A = [0, 1/4, 1/2, 3/4, 1]
print(A)

[0, 0.25, 0.5, 0.75, 1]

In [29]:
for i in range(len(A)):
    <execute script>

SyntaxError: invalid syntax (<ipython-input-29-2233a9ac6f2b>, line 2)

This is meant to call all integers between 0 and 1 less than the length of A. ERROR: I am unsure why in remains green and is not purple in my code, I could not figure out why there was an error.

#### Copy list elements

In [28]:
list1 = [5, 4, 9, 10, 3, 5]
list2 = [6, 3, 2, 1, 5, 3]

print("list1 elements:", list1[0], list1[1], list1[2], list1[3], list1[4])
print("list2 elements:", list2[0], list2[1], list2[2], list2[3], list2[4])

list3 = []
j = len(list1)
for i in range(j):
    list3.append(list1[i])

k = len(list2)
for i in range(k):
    list3.append(list2[i])

print("list3 elements:", list3)

list1 elements: 5 4 9 10 3
list2 elements: 6 3 2 1 5
list3 elements: [5, 4, 9, 10, 3, 5, 6, 3, 2, 1, 5, 3]

## Create a New List with Values from Other Lists, New Concepts: List Methods, If Statements, Else Statements, Operators

#### Add List Elements

In [30]:
list1 = [5, 4, 9, 10, 3, 5]
list2 = [6, 3, 2, 1, 5, 3]

print("list1 elements:", list1[0], list1[1], list1[2], list1[3], list1[4])
print("list2 elements:", list2[0], list2[1], list2[2], list2[3], list2[4])

list3 = []
j = len(list1)
for i in range(j):
    list3.append(list1[i] + list2[i])
    
print("list3:", list3)

list1 elements: 5 4 9 10 3
list2 elements: 6 3 2 1 5
list3: [11, 7, 11, 11, 8, 8]

In [31]:
list1 = [5, 4, 9, 10, 3, 5]
list2 = [6, 3, 2, 1, 5, 3]

print("list1 elements:", list1[0], list1[1], list1[2], list1[3], list1[4])
print("list2 elements:", list2[0], list2[1], list2[2], list2[3], list2[4])

list3 = []
j = len(list1)
for i in range(j):
    list3.insert(0,list1[i] + list2[i])
    
print("list3:", list3)

list1 elements: 5 4 9 10 3
list2 elements: 6 3 2 1 5
list3: [8, 8, 11, 11, 7, 11]

#### If Statements

In [1]:
if True:
    print("execute script")

execute script

In [2]:
if True:
    print("execute script")
else:
    pass

execute script

In [6]:
if False:
    print("execute script")
else:
    pass

#### Add List & If

In [7]:
list1 = [5, 4, 9, 10, 3, 5]
list2 = [6, 3, 2, 1, 5, 3]
print("list1 elements:", list1[0], list1[1], list1[2], list1[3], list1[4])
print("list2 elements:", list2[0], list2[1], list2[2], list2[3], list2[4])

list3 = []
j = len(list1)
if j == len(list2):
    for i in range(0, len(list2)):
        list3.insert(i,list1[i] + list2[i])
print("list3:", list3)

list1 elements: 5 4 9 10 3
list2 elements: 6 3 2 1 5
list3: [11, 7, 11, 11, 8, 8]

In [8]:
list1 = [5, 4, 9, 10, 3, 5]
list2 = [6, 3, 2, 1, 5]
print("list1 elements:", list1[0], list1[1], list1[2], list1[3], list1[4])
print("list2 elements:", list2[0], list2[1], list2[2], list2[3], list2[4])

list3 = []
j = len(list1)
if j == len(list2):
    for i in range(0, len(list2)):
        list3.insert(i,list1[i] + list2[i])
else:
    print("Lists are not the same length, cannot perform element-wise operations.")
print("list3:", list3)

list1 elements: 5 4 9 10 3
list2 elements: 6 3 2 1 5
Lists are not the same length, cannot perform element-wise operations.
list3: []

### Remove List Elements, New Concepts: Del, List Methods

#### Delete

In [9]:
list1 = ["red", "blue", "orange", "black", "white", "golden"]
list2 = ["nose", "ice", "fire", "cat", "mouse", "dog"]
print("lists before deletion: ")
for i in range(len(list1)):
    print(list1[i],"\t", list2[i])
    
del list1[0]
del list2[5]

print()
print("lists after deletion: ")
for i in range(len(list1)):
    print(list1[i], "\t",list2[i])

lists before deletion:
red 	 nose
blue 	 ice
orange 	 fire
black 	 cat
white 	 mouse
golden 	 dog

lists after deletion:
blue 	 nose
orange 	 ice
black 	 fire
white 	 cat
golden 	 mouse

#### Remove Elements

In [10]:
list1 = ["red", "blue", "orange", "black", "white", "golden"]
list2 = ["nose", "ice", "fire", "cat", "mouse", "dog"]
print("lists before deletion: ")
for i in range(len(list1)):
    print(list1[i],"\t", list2[i])
    
list1.remove("red")
list2.remove("dog")

print()
print("lists after deletion: ")
for i in range(len(list1)):
    print(list1[i], "\t",list2[i])

lists before deletion:
red 	 nose
blue 	 ice
orange 	 fire
black 	 cat
white 	 mouse
golden 	 dog

lists after deletion:
blue 	 nose
orange 	 ice
black 	 fire
white 	 cat
golden 	 mouse

.remove() deletes individual entries per list

###### Does it delete duplicates?

In [28]:
list1 = ["red", "white", "blue", "red"]
print("lists before deletion: ")
for i in range(len(list1)):
    print(list1[i])
    
list1.remove("red")

print()
print("lists after deletion: ")
for i in range(len(list1)):
    print(list1[i])

lists before deletion:
red
white
blue
red

lists after deletion:
white
blue
red

.remove() does not get rid of every entry. It only gets rid of the first entry of the word in ()

#### Remove & Save

In [12]:
list1 = ["red", "blue", "orange", "black", "white", "golden"]
list2 = ["nose", "ice", "fire", "cat", "mouse", "dog"]

#identify what is printed in for loop
print("lists before deletion: ")
if len(list1) == len(list2):
    # use for loop to print lists in parallel
    for i in range(len(list1)):
        print(list1[i],"\t", list2[i])
    
# remove list elements and save them as variables '_res"
list1_res = "red"
list2_res = "dog"
list1.remove(list1_res)
list2.remove(list2_res)

print()
# print lists again as in lines 8-11
print("lists after deletion: ")
if len(list1) == len(list2):
    for i in range(len(list1)):
        print(list1[i], "\t",list2[i])
     
print()
print("Res1", "\tRes2")
print(list1_res, "\t" + (list2_res))

lists before deletion:
red 	 nose
blue 	 ice
orange 	 fire
black 	 cat
white 	 mouse
golden 	 dog

lists after deletion:
blue 	 nose
orange 	 ice
black 	 fire
white 	 cat
golden 	 mouse

Res1 	Res2
red 	dog

#### Remove & Pop

In [13]:
list1 = ["red", "blue", "orange", "black", "white", "golden"]
list2 = ["nose", "ice", "fire", "cat", "mouse", "dog"]

#identify what is printed in for loop
print("lists before deletion: ")
# use for loop to print lists in parallel
for i in range(len(list1)):
    print(list1[i],"\t", list2[i])
    
# remove list elements and save them as variables '_res"
list1_res = list1.pop(0)
list2_res = list2.pop(5)

print()
# print lists again as in lines 8-11
print("lists after deletion: ")
for i in range(len(list1)):
    print(list1[i], "\t",list2[i])
     
print()
print("Res1", "\tRes2")
print(list1_res, "\t" + (list2_res))

lists before deletion:
red 	 nose
blue 	 ice
orange 	 fire
black 	 cat
white 	 mouse
golden 	 dog

lists after deletion:
blue 	 nose
orange 	 ice
black 	 fire
white 	 cat
golden 	 mouse

Res1 	Res2
red 	dog

## For Loops Cont.

#### Add Elements

In [14]:
list1 = [5, 4, 9, 10, 3, 5]
list2 = [6, 3, 2, 1, 5, 3]
print("list1 elements:", list1[0], list1[1], list1[2], list1[3], list1[4])
print("list2 elements:", list2[0], list2[1], list2[2], list2[3], list2[4])

list3 = []
j = len(list1)
if j == len(list2):
    for i in range(0, j, 2):
        list3.append(list1[i] + list2[i])
else:
    print("Lists are not the same length, cannot perform element-wise operations.")
print("list3:", list3)

list1 elements: 5 4 9 10 3
list2 elements: 6 3 2 1 5
list3: [11, 11, 8]

#### For Loops

In [15]:
obj = ["A", "few", "words", "to", "print"]
for x in obj:
    print(x)

A
few
words
to
print

###### Without Indexer

In [16]:
list1 = ["red", "blue", "orange", "black", "white", "golden"]
list2 = []
for x in list1:
    list2.append(x)

print("list1\t", "list2")
k = len(list1)
j = len(list2)

if len(list1) == len(list2):
    for i in range(0, len(list1)):
        print(list1[i], "\t", list2[i])

list1	 list2
red 	 red
blue 	 blue
orange 	 orange
black 	 black
white 	 white
golden 	 golden

#### With Indexer

## Sort Lists, Errors, and Exceptions, New Concepts: Sorted(), Pass Errors

#### Sort

In [17]:
list1 = [5, 4, 9, 10, 3, 5]
list2 = ["red", "blue", "orange", "black", "white", "golden"]

print("list1:", list1)
print("list2:", list2)

sorted_list1 = sorted(list1)
sorted_list2 = sorted(list2)

print("sortedList1:", sorted_list1)
print("sortedList2:", sorted_list2)

list1: [5, 4, 9, 10, 3, 5]
list2: ['red', 'blue', 'orange', 'black', 'white', 'golden']
sortedList1: [3, 4, 5, 5, 9, 10]
sortedList2: ['black', 'blue', 'golden', 'orange', 'red', 'white']

sorted(): numerical or alphabetical

#### Sort Error

In [18]:
list1 = [5, 4, 9, 10, 3, 5]
list2 = ["red", "blue", "orange", "black", "white", "golden"]
list3 = list1 + list2

print("list1:", list1)
print("list2:", list2)
print("list3:", list3)

sorted_list1 = sorted(list1)
sorted_list2 = sorted(list2)

print("sortedList1:", sorted_list1)
print("sortedList2:", sorted_list2)

sorted_list3 = sorted(list3)
print("sortedList3:", sorted_list3)
print("Execution complete!")

list1: [5, 4, 9, 10, 3, 5]
list2: ['red', 'blue', 'orange', 'black', 'white', 'golden']
list3: [5, 4, 9, 10, 3, 5, 'red', 'blue', 'orange', 'black', 'white', 'golden']
sortedList1: [3, 4, 5, 5, 9, 10]
sortedList2: ['black', 'blue', 'golden', 'orange', 'red', 'white']

TypeError: '<' not supported between instances of 'str' and 'int'

## Slicing Lists

#### Full

In [19]:
some_list = [3, 1, 5, 6, 1]
print(some_list[:])

[3, 1, 5, 6, 1]

In [20]:
some_list = [3, 1, 5, 6, 1]
min_index = 0
max_index = len(some_list)
print("minimum:", min_index)
print("maximum:", max_index)
print("Full list using slice", some_list[min_index:max_index])
print("Full list without slice", some_list)

minimum: 0
maximum: 5
Full list using slice [3, 1, 5, 6, 1]
Full list without slice [3, 1, 5, 6, 1]

#### Partial

In [21]:
min_index = 3
max_index = 7
full_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
partial_list = full_list[min_index:max_index]
print("Full List:", full_list)
print("Partial List:", partial_list)
print("full_list[7]:", full_list[7])

Full List: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Partial List: [4, 5, 6, 7]
full_list[7]: 8

## Nested For Loops

In [22]:
print("i", "j")
for i in range(5):
    for j in range(5):
        print(i, j)

i j
0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [23]:
print("i", "j", "i+j")
for i in range(5):
    for j in range(5):
        val = i + j
        print(i, j, val)

i j i+j
0 0 0
0 1 1
0 2 2
0 3 3
0 4 4
1 0 1
1 1 2
1 2 3
1 3 4
1 4 5
2 0 2
2 1 3
2 2 4
2 3 5
2 4 6
3 0 3
3 1 4
3 2 5
3 3 6
3 4 7
4 0 4
4 1 5
4 2 6
4 3 7
4 4 8

## Lists, Lists, & More Lists

#### Min & Max

###### Function

In [24]:
list1 = [20, 30, 40, 50]
max_list_value = max(list1)
min_list_value = min(list1)
print("maximum:", max_list_value, "minimum:", min_list_value)

maximum: 50 minimum: 20

###### By Hand

In [29]:
list1 = [20, 30, 40, 50]

min_list_val = float("inf")

max_list_val = float("-inf")

for x in list1:
    if x < min_list_val:
        min_list_val = x
    if x > max_list_val:
        max_list_val = x

print("maximum:", max_list_val, "minimum:", min_list_val)

maximum: 50 minimum: 20

#### From Generator

In [27]:
generator = (i for i in range(20))
print(generator)

list1 = list(generator)
print(list1)

list2 = [2 * i for i in range(20)]
print(list2)

<generator object <genexpr> at 0x00000271FD9D9120>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

## EXCERCISES

### 1.

In [18]:
list1 = list(range(3,101,3))
print(list1)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

### 2.

In [23]:
list2 = list(range(3,101,3))
pint(list2)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

### 3.

In [11]:
result = ""
for i in range(3,101,3):
    result = result+str(i)
print(result)

369121518212427303336394245485154576063666972757881848790939699

### 4.

In [15]:
list1 = list(range(3,101,3))

list3 = []
for i in range(3,101,3):
    list3.append(list1.pop())
    
print(list3)

[99, 96, 93, 90, 87, 84, 81, 78, 75, 72, 69, 66, 63, 60, 57, 54, 51, 48, 45, 42, 39, 36, 33, 30, 27, 24, 21, 18, 15, 12, 9, 6, 3]

### 5.

In [97]:
print(list1)
print('\n')
midpoint = int(len(list1)/2)
end = len(list1)
for i in range(midpoint, end):
    print(list1[i])

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]


51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

### 6.

In [90]:
result = ""
for i in range(3,101,6):
    result = result+str(i)
print(result)

39152127333945515763697581879399

### 7.

In [71]:
list = [0,1,2,3,4]
tuple = [0,1,2,3,4]
print(list, tuple, sep = "\n")

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

Although a list and typle appear to be similar, the list - as we have seen in this chapter - can have many operations performed on it to adjust it. Whereas, the elements in the tuble are cannot be changed as they are "static". Thus, although there are benefits to a tuple such as a smaller size and makes elements easily accessible, you can't manipulate the elements as you would with a list.

## EXPLORATION

###### Because I was at a conference last week, it took me more time that I had realized to complete the exercises. Thus, I chose to neglect completing the exploration in order to be able to turn my assignment in on time. I will complete the exploration on my own.