# Project 1 - CH1 - Essentials

## Hello World!

#### Print Hello World - Standard way to learn a new programming language

In [2]:
print("Hello World!")

Hello World!

In [4]:
x = "Hello World!"
print("I used a variable to print: ", x)

I used a variable to print:  Hello World!

## String Methods

### Capitalize Strings

In [7]:
msg = "john nash"
print("I will use a function to capitalize the entire msg: ", msg.upper())
print("I will use a function to capitalize only the first letter of each word of the message: ", msg.title())

I will use a function to capitalize the entire msg:  JOHN NASH
I will use a function to capitalize only the first letter of each word of the message:  John Nash

### Concatenation

In [12]:
name = "genesis" + " " + "paul"
print(name)
print(name.upper())
print(name.title())

genesis paul
GENESIS PAUL
Genesis Paul

#### Create 4 strings and concantenate the strings

In [14]:
line1 = "I am getting a minor in economics"
line2 = "I took this course to fulfill a minor requirement"
line3 = "It isn't what I expected from an economics class"
line4 = "I think I am going to gain a lot of skills that will transfer to my career"

In [19]:
#concatenate
print(line1+line2+line3+line4)
print("\n")
#concatenate with spaces
print(line1+" "+line2+" "+line3+" "+line4)
print("\n")
#concatenate with new lines
print(line1+"\n"+line2+"\n"+line3+"\n"+line4)
print("\n")
#concatenate with commas
print(line1, line2, line3, line4)
print("\n")
#define comma - space
print(line1, line2, line3, line4, sep=" ")
print("\n")
#define comma - new line
print(line1, line2, line3, line4, sep="\n")

I am getting a minor in economicsI took this course to fulfill a minor requirementIt isn't what I expected from an economics classI think I am going to gain a lot of skills that will transfer to my career


I am getting a minor in economics I took this course to fulfill a minor requirement It isn't what I expected from an economics class I think I am going to gain a lot of skills that will transfer to my career


I am getting a minor in economics
I took this course to fulfill a minor requirement
It isn't what I expected from an economics class
I think I am going to gain a lot of skills that will transfer to my career


I am getting a minor in economics I took this course to fulfill a minor requirement It isn't what I expected from an economics class I think I am going to gain a lot of skills that will transfer to my career


I am getting a minor in economics I took this course to fulfill a minor requirement It isn't what I expected from an economics class I think I am going to gain a lot of skills that will transfer to my career


I am getting a minor in economics
I took this course to fulfill a minor requirement
It isn't what I expected from an economics class
I think I am going to gain a lot of skills that will transfer to my career

#### Quotes in Quotes

In [21]:
single_in_double = "We may use 'single quotes' within double quotes"
double_in_single = 'We may use "double quotes" within single quotes'
print(single_in_double)
print(double_in_single)

We may use 'single quotes' within double quotes
We may use "double quotes" within single quotes

### Escape Sequences

#### Backslash, Single Quote, Double Quote, Horizontal Tab, New Line

In [24]:
#backslash
read_blackslash = 'We may use \'single quotes\' in single quotes.'
print(read_blackslash)
print("\n")
#single quote
single_quotes = 'We may use \'single quotes\' in single quotes'
print(single_quotes)
print("\n")
#double quote
double_quotes = "We may use \"double quotes\" in double quotes"
print(double_quotes)
print("\n")
#horizontal tab
new_line_new_tab = "Every\nword\nis\na\nnew\nline"
print(new_line_new_tab)
print("\n")
#new line
lines = "We may start a new line \n\tand use tab for a hanging indent"
print(lines)

We may use 'single quotes' in single quotes.


We may use 'single quotes' in single quotes


We may use "double quotes" in double quotes


Every
word
is
a
new
line


We may start a new line
	and use tab for a hanging indent

Other escape sequences include:
Backspace: "\b"
Formfeed: "\f"
Vertical Tab: "\v"

### More String Functions

#### Removing Spaces

In [28]:
spaces = "   Look at all the spaces in this text.   "
print("no spaces removed:\n", spaces)

no spaces removed:
    Look at all the spaces in this text.

In [35]:
#replace
print("remove spaces to the left:\n", remove_L)
print("\n")
remove_all = spaces.replace(" ", "")
print("remove all spaces:\n", remove_all)

remove spaces to the left:
 Look at all the spaces in this text.


remove all spaces:
 Lookatallthespacesinthistext.

In [39]:
#remove left spaces
remove_L = spaces.lstrip()
print("remove spaces to the left:\n", remove_L)
print("\n")
#remove right spaces
remove_R = spaces.rstrip()
print("remove spaces to the right:\n", remove_R)
print("\n")
#remove left and right spaces
remove_L_R = spaces.strip()
print("remove spaces to the left and right:\n", remove_R)

remove spaces to the left:
 Look at all the spaces in this text.


remove spaces to the right:
    Look at all the spaces in this text.


remove spaces to the left and right:
    Look at all the spaces in this text.

#### Triple Quotes

In [38]:
#triple quotes
x = """\
Everything in triple quotes will be recored exactly as entered,
if we enter a new line or
    a new line with a tab."""
print(x)

Everything in triple quotes will be recored exactly as entered,
if we enter a new line or
    a new line with a tab.

## Working with Numbers

### Integers, Floats, Errors, Typecasting, Modules, Overflow Error

#### Integers are natural numbers, Floats include decimals

In [45]:
#Integers
num1 = 5+3
print("num1: ", num1)
num1s = "5" + "3"
print("\nnum1s: ", num1s)

num1:  8

num1s:  53

In [1]:
#Floats
num2 = 5/3
num3 = 5/4
num4 = 4/3

print("num2:", num2, "\nnum3:", num3, "\nnum4:", num4)

num2: 1.6666666666666667
num3: 1.25
num4: 1.3333333333333333

Although floats clearly contain multiple decimal places (in the case of num2 and num4, the decimal repeats infinitely) however, flots do have a limit in length. See below:

In [3]:
import sys
print(sys.float_info)

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

Overflow errors can occur, see below:

In [7]:
x = 2.0 ** 1023
print(x)
num2 = 2.0 ** 1024

8.98846567431158e+307

OverflowError: (34, 'Result too large')

In [9]:
print("x is of", type(x), "and is equal to", x)
print("\n")
y = 2 ** 1025
print("y is of", type(y), "and is equal to", y)

x is of <class 'float'> and is equal to 8.98846567431158e+307


y is of <class 'int'> and is equal to 359538626972463181545861038157804946723595395788461314546860162315465351611001926265416954644815072042240227759742786715317579537628833244985694861278948248755535786849730970552604439202492188238906165904170011537676301364684925762947826221081654474326701021369172596479894491876959432609670712659248448274432

## Exercises

#### 1. Record Name and Description of Self

In [1]:
x = "genesis paul"
xDes = "Math and Stats major at NDSU"
print(x.title() + " is a " + xDes)

Genesis Paul is a Math and Stats major at NDSU

#### 2. Raise 2 to the 4th Power

In [21]:
twoToTheFourth = 2 ** 4
doubleTwoToTheFourth = twoToTheFourth + twoToTheFourth
toStringTwoToTheFourth = str(twoToTheFourth)

print(twoToTheFourth, doubleTwoToTheFourth, toStringTwoToTheFourth, sep = "\n")

16
32
16

#### 3. Escape Sequence

In [23]:
escapeSeqString = ""
print(escapeSeqString)

#### 4. Add and Int and a Float

In [26]:
x = 2 + (1/3)
print(x)

2.3333333333333335

Result: Float

#### 5. Add Following, What is the Outcome? (Intentional Error)

In [35]:
x = 2 ** 1024 + 1.5
print(x)

OverflowError: int too large to convert to float

Result: When an equation includes both an integer and a float, the result must be a float. Therefore, we get an overflow error because the value is larger than the max size of a float.

#### 6. Import a String

In [7]:
import(string)

SyntaxError: invalid syntax (<ipython-input-7-724e7d8cc6ed>, line 1)

#### 7. Call 5 Results

#### 8. Concatenate 3 Distinct Strings

In [10]:
string1 = "I am a Math & Stats major."
string2 = "I have minors in Business Administration, Computer Science, and Economics."
string3 = "I have a certificate in Finance."
print(string1+string2+string3)
print("\n")
print(string1, string2, string3, sep = " ")
print("\n")
print(string1, string2, string3, sep = "\n")

I am a Math & Stats major.I have minors in Business Administration, Computer Science, and Economics.I have a certificate in Finance.


I am a Math & Stats major. I have minors in Business Administration, Computer Science, and Economics. I have a certificate in Finance.


I am a Math & Stats major.
I have minors in Business Administration, Computer Science, and Economics.
I have a certificate in Finance.